html {
    background-color: #fff;
    color: #333;
    font-family: 'Rubik', 'Arial', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

header {
    font-size: 40px;
    font-weight: 700;
}

a:link,
a:visited {
    color: #008F50;
}
