html {
    background-color: #fff;
    color: #333;
    font-family: 'Rubik', 'Arial', sans-serif;
    font-size: 24px;
    text-rendering: optimizeLegibility;
}

.content {
    margin-top: 100px;
    margin-left: 100px;
    box-sizing: border-box;
}

a:link,
a:visited {
    color: #008F50;
}

@media only screen and (max-width: 640px) {
  .content {
    margin-left: 10px;
  }
}
